* {
	color: #fff;
}

.limit {
  width: 100%;
  margin: 0 auto;
}

.container-login {
	  width: 100%;  
	  min-height: 100vh;
  	  padding: 15px;

	  background-repeat: no-repeat;
	  background-position: center;
	  background-size: cover;
	  position: relative;
	  z-index: 1; 
}

.form-container {
	border: 0px solid #fff;
	padding: 10px 10px;
	margin-top: 20vh;

	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}



