<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value="http://devmciswebapp.southeastasia.cloudapp.azure.com/MCISWeb_09212017-1/Common/Account/Login"/>
    <add key="Root_Path" value="../../TestData/Results/Screenshots/"/>
    
    <add key="Body" value="../../TestData/PIRA_Body.xlsx"/>
    <add key="Body_Path" value="Body"/>
    
    <add key="Body_Path_Create" value="Create"/>
    <add key="Body_Path_Delete" value="Delete"/>
    <add key="Body_Path_Update" value="Update"/>
    <add key="Body_Path_Toggle" value="Toggle"/>
    
    <add key="Body_Create" value="Add"/>
    <add key="Body_Delete" value="Body_Delete"/>
    <add key="Body_Toggle" value="Body_Toggle"/>
    <add key="Body_Update" value="Body_Update"/>

    
    <add key="VAT" value="../../TestData/PIRA_VAT.xlsx"/>
    <add key="VAT_Path" value="VAT"/>
    
    <add key="VAT_Path_Create" value="Create"/>
    <add key="VAT_Path_Delete" value="Delete"/>
    <add key="VAT_Path_Update" value="Update"/>
    <add key="VAT_Path_Toggle" value="Toggle"/>
    
    
    <add key="VAT_Create" value="Sheet2"/>
    <add key="VAT_Delete" value="VAT_DELETE"/>
    <add key="VAT_Toggle" value="VAT_TOGGLE"/>
    <add key="VAT_Edit" value="VAT_EDIT"/>
    <!--<add key ="Sheet2" value="Sheet2"/>-->
    
    <add key="Vehicle_Type" value="../../TestData/VehicleType.xlsx"/>
    <add key="VT_path" value="Vehicle Type"/>
   
    <add key="VT_Path_Create" value="Create"/>
    <add key="VT_Path_Delete" value="Delete"/>
    <add key="VT_Path_Update" value="Update"/>
    <add key="VT_Path_Toggle" value="Toggle"/>
    
    
    <add key="VT_Create" value="Create"/>
    <add key="VT_Delete" value="Delete"/>
    <add key="VT_Update" value="Update"/>     
    <!--add key for toggle-->

    <add key="City" value="../../TestData/PIRA_City.xlsx"/>
    <add key="City_Path" value="City"/>
    
    <add key="CITY_Path_Create" value="Create"/>
    <add key="CITY_Path_Delete" value="Delete"/>
    <add key="CITY_Path_Update" value="Update"/>
    <add key="CITY_Path_Toggle" value="Toggle"/>
    
    
    <add key="City_Create" value="Sheet1"/>
    <add key="City_Update" value="Update"/>
    <add key="City_Delete" value="Delete"/>
    <add key="City_Toggle" value="Toggle"/>

    <add key="COL" value="../../TestData/PIRA_CAUSEOFLOSS.xlsx"/>
    <add key="COL_Path" value="Cause of Loss"/>
    
    <add key="COL_Path_Create" value="Create"/>
    <add key="COL_Path_Delete" value="Delete"/>
    <add key="COL_Path_Update" value="Update"/>
    <add key="COL_Path_Toggle" value="Toggle"/>
    <add key="COL_Path_Reorder" value="Reorder"/>
    
    <add key="COL_Create" value="CAUSEOFLOSS_CREATE"/>
    <add key="COL_Delete" value="CAUSEOFLOSS_DELETE"/>
    <add key="COL_Update" value="CAUSEOFLOSS_EDIT"/>
    <add key="COL_Toggle" value="CAUSEOFLOSS_TOGGLE"/>
    <add key="COL_Reorder" value="CAUSEOFLOSS_REORDER"/>

    <add key="Make" value="../../TestData/PIRA_Make.xlsx"/>
    <add key="Make_Path" value="Make"/>
    
    <add key="Make_Path_Create" value="Create"/>
    <add key="Make_Path_Delete" value="Delete"/>
    <add key="Make_Path_Update" value="Update"/>
    <add key="Make_Path_Toggle" value="Toggle"/>
    
    <add key="Make_Create" value="Create"/>
    <add key="Make_Update" value="Update"/>
    <add key="Make_Delete" value="Delete"/>
    <add key="Make_Toggle" value="Toggle"/>
    
    <add key="Model" value="../../TestData/PIRA_Model.xlsx"/>
    <add key="Model_Path" value="Model"/>
    
    <add key="Model_Path_Create" value="Create"/>
    <add key="Model_Path_Delete" value="Delete"/>
    <add key="Model_Path_Update" value="Update"/>
    <add key="Model_Path_Toggle" value="Toggle"/>
    
    <add key="Model_Create" value="Create"/>
    <add key="Model_Update" value="Update"/>
    <add key="Model_Delete" value="Delete"/>
    <add key="Model_Toggle" value="Toggle"/>
    

    <add key="NOC" value="../../TestData/PIRA_NatureOfClaim.xlsx"/>
    <add key="NOC_Path" value="Nature of Claim"/>
    
    <add key="NOC_Path_Create" value="Create"/>
    <add key="NOC_Path_Delete" value="Delete"/>
    <add key="NOC_Path_Update" value="Update"/>
    <add key="NOC_Path_Toggle" value="Toggle"/>
    
    <add key="NOC_Create" value="Create"/>
    <add key="NOC_Update" value="Update"/>
    <add key="NOC_Delete" value="Delete"/>
    <add key="NOC_Toggle" value="Toggle"/>

    <add key="NOCSL" value="../../TestData/PIRA_NatureOfClaimStatusList.xlsx"/>
    <add key="NOCSL_Path" value="Nature of Claim Status List"/>
    
    <add key="NOCSL_Path_Assign" value="Assign"/>
    <add key="NOCSL_Path_Delete" value="Delete"/>
    <add key="NOCSL_Path_Reorder" value="Reorder"/>
    
    <add key="NOCSL_Assign" value="Assign"/>
    <add key="NOCSL_Delete" value="Delete"/>
    <add key="NOCSL_Reorder" value="Reorder"/>

    <add key="Province" value="../../TestData/PIRA_PROVINCE.xlsx"/>
    <add key="Province_Path" value="Province"/>
    
    <add key="Province_Path_Create" value="Create"/>
    <add key="Province_Path_Delete" value="Delete"/>
    <add key="Province_Path_Update" value="Update"/>
    <add key="Province_Path_Toggle" value="Toggle"/>
    
    <add key="Province_Create" value="PROVINCE_CREATE"/>
    <add key="Province_Edit" value="PROVINCE_EDIT"/>
    <add key="Province_Delete" value="PROVINCE_DELETE"/>
    <add key="Province_Toggle" value="PROVINCE_TOGGLE"/>

    <add key="Region" value="../../TestData/PIRA_Region.xlsx"/>
    <add key="Region_Path" value="Region"/>
    
    <add key="Region_Path_Create" value="Create"/>
    <add key="Region_Path_Delete" value="Delete"/>
    <add key="Region_Path_Update" value="Update"/>
    <add key="Region_Path_Toggle" value="Toggle"/>
    
    <add key="Region_Create" value="Create"/>
    <add key="Region_Edit" value="Edit"/>
    <add key="Region_Toggle" value="Toggle"/>
    <add key="Region_Delete" value="Delete"/>

    <add key="Company_Register" value="../../TestData/PIRA_REGISTRATION.xlsx"/>
    <add key="CR_Path" value="COMPANY REGISTRATION"/>
    
    
    <add key="CR_Path_Register" value="Register"/>
    <add key="CR_Registration" value="REGISTRATION"/>

    <add key="User_Registration" value="../../TestData/PIRA_REGISTRATION.xlsx"/>
    <add key="UR_Path" value="User Registration"/>
    
    <add key="UR_Path_Register" value="Register"/>
    <add key="UR_Registration" value="REGISTER"/>

    <add key="Company_List" value="../../TestData/PIRA_CompanyList.xlsx"/>
    <add key="Company_Path" value="Company"/>
    
    <add key="CL_Path_Create" value="Create"/>
    <add key="CL_Path_Delete" value="Delete"/>
    <add key="CL_Path_Update" value="Update"/>
    <add key="CL_Path_Toggle" value="Toggle"/>
    
    <add key="CL_Create" value="Create"/>
    <add key="CL_Delete" value="Delete"/>
    <add key="CL_Update" value="Update"/>
    <add key="CL_Toggle" value="Toggle"/>

  </appSettings>
</configuration>